body{
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
}
#todo{
    display: grid;
    grid-template-columns: 25% auto;
}
.Menu{
    position: sticky;
    top: 0;
    height: 90vh;
    padding: 2.5rem;
    display: flex;
    flex-direction: column;
    border-bottom: 0;
    justify-content: space-between;
}
#Opciones{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    gap: 2rem;
    list-style-type: none;
    border: none;
    padding-right: 0;
}
footer{
    font-size: .85rem;
}
.activo{
    background-color: gray;
    color: whitesmoke;
}
.botonesmenu{
    gap: 2rem;
    display: flex;
    width: 21vw;
    border: none;
    padding-right: 0;
    padding: 1rem ;
    background-color: transparent;
    justify-content: flex-start;
    text-decoration: none;
    gap: 2em;
    border-bottom-left-radius: 2em;
    border-top-left-radius: 2em;
}
.botonesmenu:hover{
    background-color: gray;
    color: whitesmoke;
}
h1{
    font-size: 1rem;
}
button{
    cursor: pointer;
}
#Titulo{
    position: sticky;
    top: 0;
    background-color: gray;
    border-radius: 2rem;
    border-bottom: 0;
    padding: 2rem;
    margin: 4rem;
    margin-top: .5rem;
    margin-left: 0;
    height: 90vh;
}
img{
    max-width: 90%;
    border-radius: 3rem;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
#articulos{
    gap: 2rem;
    padding-top: 1rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    overflow: scroll;
    height: 100%;
}
#ArticulosCarrito{
    gap: 2rem;
    padding: 2rem;
    display: grid;
    grid-template-rows: repeat(2,1fr);
    justify-content: space-between;
}
.articulo{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    justify-content: space-around;
}
.SeccionAgregar{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    gap: 3.5rem;
    padding-bottom: 1rem ;
}
.abajoarticulos{
    width: 90%;
    flex-direction: column;
    justify-content: center;
    display: flex;
    background-color: whitesmoke;
    border-radius: 1rem;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    align-items: center;

}
.botonagregar{
    background-color: gray;
    border-radius: 2rem;
    padding: 2rem;
    text-transform: uppercase;
    border: 3px solid gray;
}
.botonagregar:hover{
    background-color: whitesmoke;
    color: black;
}
p{
    font-size: 1em;
}

.articulocarrito{
    border-radius: 3rem;
    border-bottom-left-radius: 3rem;
    display: flex;
    align-items: center;
    background-color: whitesmoke;
    margin-bottom: 2rem;
    justify-content: space-between;

}
.carritoimg{
    max-height: 150px;
    border-radius: 3rem;
}
.Discriminacion{
    width: 98%;
    justify-content: space-between;
    display: flex;
    align-items: center;
    display: flex;
    padding: 1rem   ;
}
.cantidad{
    padding: .5rem;
    width:5vw;
}
#VACIAR{
    text-decoration: none;
    padding-bottom: .5rem;
    padding-top: .5rem;
    color: black ;
    border:2px solid gray;
}
#VACIAR a{
    color: black;
}
a{
    text-decoration: none;
    color: gray;
}
i{
    color: black;
}
#abajocarrito{
    display: flex;
    justify-content: space-between;

}
#total{
    display: flex;
    gap: 3rem;
}
#Comprarahora
{
    text-decoration: none;
    padding-bottom: .5rem;
    padding-top: .5rem;
    color: wghi;
    border:2px solid black;
}
#VACIAR:hover{
    background-color: gray;
    border: 2px solid whitesmoke;
}
#Comprarahora:hover{
    background-color: gray ;
    border: 2px solid whitesmoke;
}